/* hanken-grotesk-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/hanken-grotesk-v11-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hanken-grotesk-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/hanken-grotesk-v11-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hanken-grotesk-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/hanken-grotesk-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hanken-grotesk-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/hanken-grotesk-v11-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Light-gray-blue: hsl(224, 30%, 27%);
  --Light-red: hsl(0, 100%, 67%);
  --Orange-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Backgroud-gradient: linear-gradient(
    180deg,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  --Circle-gradient: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}
@media screen and (min-width: 1200px) {
  body {
    min-height: 100vh; /* full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    margin: 0;
    background: hsla(241, 100%, 89%, 0.25);
  }
}
main {
  width: 100%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 20px;
    width: 760px;
    height: 500px;
    background: var(--White);
    border-radius: 20px;
  }
}
/*--Upper part--*/
#upper-part {
  width: 375px;
  background: var(--Backgroud-gradient);
  border-radius: 0 0 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding: 10px 50px;
  @media screen and (min-width: 1200px) {
    height: 500px;
    border-radius: 20px;
  }
}
h1 {
  margin-block: 0.25rem;
  font-size: 1rem;
  color: var(--Light-lavender);
  font-weight: 500;
}
/*--Score circle--*/
#score-circle {
  background: var(--Circle-gradient);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  @media screen and (min-width: 1200px) {
    margin: 20px 0;
  }
}
#score-circle p {
  color: hsla(241, 100%, 89%, 0.5);
  font-size: 1rem;
  font-weight: 500;
}
#score-circle #score {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--White);
}
#upper-part h2 {
  margin-block: 0.1rem;
  font-size: 1.5rem;
  color: var(--White);
  font-weight: 700;
}
#upper-part p {
  width: 300px;
  text-align: center;
  color: hsla(241, 100%, 89%, 0.75);
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
  @media screen and (min-width: 1200px) {
    width: 280px;
    font-size: 1.25rem;
  }
}
/*--Lower part--*/
#lower-part {
  width: 375px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  @media screen and (min-width: 1200px) {
    height: 450px;
  }
}
#lower-part h2 {
  font-size: 1rem;
  margin-block: 0.25rem;
  color: var(--Light-gray-blue);
}
#lower-part div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  height: 55px;
  border-radius: 10px;
}
#lower-part h3 {
  margin-block: 1rem;
  font-size: 1rem;
  margin-left: 10px;
  font-weight: 500;
}
#lower-part div p {
  margin-left: auto;
  color: hsla(224, 30%, 27%, 0.5);
}
#lower-part div p span {
  font-weight: 700;
  color: var(--Light-gray-blue);
}
#reaction-row {
  background: hsla(0, 100%, 67%, 0.075);
}
#reaction-row h3 {
  color: var(--Light-red);
}
#memory-row {
  background: hsla(39, 100%, 56%, 0.075);
}
#memory-row h3 {
  color: var(--Orange-yellow);
}
#verbal-row {
  background: hsla(166, 100%, 37%, 0.075);
}
#verbal-row h3 {
  color: var(--Green-teal);
}
#visual-row {
  background: hsla(234, 85%, 45%, 0.075);
}
#visual-row h3 {
  color: var(--Cobalt-blue);
}
#lower-part a {
  text-decoration: none;
  background: var(--Light-gray-blue);
  color: var(--White);
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  font-weight: 700;
  margin-top: auto;
}
#lower-part a:hover {
  background: var(--Backgroud-gradient);
  color: var(--White);
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}
footer a {
  font-size: 0.5rem;
}
